@use "value";

@mixin mq_pc {
    @media screen and (min-width: (value.$sp-width + 1) + px) {
        @content;
    }
}

@mixin mq_sp {
    @media screen and (max-width: value.$sp-width + px) {
        @content
     }
}

@mixin mq_tablet {
    @media screen and (min-width: (value.$sp-width + 1) + px) and (max-width: value.$tablet-width + px) {
        @content
    }
}