// Font
$font-default : 'Poppins',
sans-serif;

// Text Color
$color-text : #333;

// Button Color
$primary-btn : #0d6efd;
$secondary-btn : #6c757d;

// For pc
$pc-width : 1100;
$pc-gap : 4rem;

//For sp
$sp-width: 750;
$sp-gap : 1rem;
