// Font
$font-dm-sans : "DM Sans", sans-serif;
$font-crimson-text : "Crimson Text", serif;
$font-roboto : "Roboto", sans-serif;
$font-default : $font-dm-sans;

// Button Color
$color-1 : #000000;
$color-2 : #929292;
$color-3 : #E9E9E9;
$color-4 : #FFFFFF;
$color-5 : #DFECC6;
$color-6 : #8E9C78;
$color-7 : #485C11;

// For pc
$pc-width : 1200;
$pc-gap : 40px;

//For sp
$sp-width: 800;
$sp-gap : 15px;
