/*! 
   Design : Modern Product Launch 
   Designer : Figma (Figma Community)
   Source : https://www.figma.com/community/file/1487309170684591074
   Coded from scratch by : Bryxx Andre Desalit
   Github : https://github.com/bryxxd/modern-product-launch
*/

// declared variable
@use 'foundation/value' as *;

// Foundation
@use 'foundation/media_query';
@use 'foundation/reset';


// Layout
@use 'layout/header';
@use 'layout/nav';
@use 'layout/main';
@use 'layout/footer';

// Object

// - Component
@use 'object/component/button';
@use 'object/component/heading';
@use 'object/component/headline';

// - Page
@use 'object/page/index';

// - Utility
@use 'object/utility/container';
@use 'object/utility/display';
@use 'object/utility/fadeinup';



