// declared variable
@use 'foundation/value' as *;

// Foundation
@use 'foundation/media_query';
@use 'foundation/reset';


// Layout
@use 'layout/header';
@use 'layout/nav';
@use 'layout/main';
@use 'layout/footer';

// Object

// - Component
@use 'object/component/button';
@use 'object/component/heading';
@use 'object/component/headline';

// - Page
@use 'object/page/index';

// - Utility
@use 'object/utility/container';
@use 'object/utility/display';



