@use "../../foundation/value";
@use "../../foundation/media_query";

.c-button {
    color: value.$color-4;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 100px;
    padding: 14px 22px;
    background: value.$color-7;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    transition: background-color 0.3s, opacity 0.3s, color 0.3s;

    &::after {
        content: "";
        background: url("/assets/img/component/btn-icon.svg") no-repeat center center / contain;
        width: 8px;
        height: 8px;
        right: 20px;
        display: inline-block;
        transition: transform 0.3s;
    }

    &:hover {
        @include media_query.mq_pc {
            opacity: 0.8;

            &::after {
                transform: translateY(-10px);
            }
        }
    }

    &.is-secondary {
        background: value.$color-5;
        color: value.$color-1;

        &::after {
            display: none;
        }

        @include media_query.mq_pc {
            &:hover {
                background: value.$color-6;
                color: #fff;
            }
        }
    }
    
}
