.c-button {
    color: #fff;
    font-size: 1.4rem;
    text-decoration: none;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;

    &.btn-primary {
        background: $primary-btn;
    }

    &.btn-secondary {
        background: $secondary-btn;
    }

    &:hover {
        opacity: 0.8;
    }
}