@use "../../foundation/media_query";

.c-post-category {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0 5rem;
    flex-wrap: wrap;

    @include media_query.mq_sp {
        align-items: center;
    }

    &__anchor {
        display: inline-flex;
        background: #000;
        color: #Fff;
        width: 150px;
        justify-content: center;
        align-items: center;
        height: 50px;
        text-decoration: none;

        &.is-active {
            background: #fff;
            border: 1px solid #000;
            color: #000;
        }
    }
}