.c-recent-post {
    &__title {
        font-size: 25px;
        border-left: 3px solid #333;
        padding-left: 1rem;
        line-height: 3rem;
        font-weight: 400;
    }

    &__ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding-top: 3rem;
    }

    &__list {
        font-size: 20px;
        display: flex;
        gap: 4rem;
    }

    &__btn {
        padding-top: 2rem;
    }
}