@use "../../foundation/media_query";

.c-topic-path {
    padding: 4rem 6rem;

    @include media_query.mq_sp {
        margin-top: 5rem;
        padding: 1rem 0.5rem;
    }


    &__li {
        display: inline-block;
        position: relative;
        font-size: 1.2rem;

        &::after {
            content: ">";
            font-size: 1.5rem;
            margin: auto 1rem;
            vertical-align: middle;

            @include media_query.mq_sp {
                margin: auto 0.2rem;
                font-size: 1rem;
            }
        }

        &:last-child::after {
            content: none;
        }

        & span {
            font-weight: bold;
        }
    }

}