@use "../../foundation/media_query";
@use "../../foundation/value";

.p-index {
    &__mv {
        &__h1 {
            font-size: 160px;
            font-family: value.$font-crimson-text;
            font-weight: 400;
            letter-spacing: -0.05em;
            text-align: center;
            line-height: 85%;

            @include media_query.mq_sp {
                word-break: break-all;
                font-size: 76px;
            }
        }

        &__visual {
            position: relative;
            margin-top: 100px;

            @include media_query.mq_sp {
                margin-top: 70px;
            }

            &__img {
                width: calc(100% - 25px);
                display: block;
                max-width: 907px;
                margin: auto;
                position: relative;
                z-index: 1;

                @include media_query.mq_sp {
                    max-width: calc(100% - 76px);
                }
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                background: value.$color-6;
                width: 100%;
                height: 362px;
                border-radius: 30px;
            }
        }
    }

    &__logo {
        padding-top: 50px;

        &__txt {
            font-size: 15px;
            color: #6f6f6f;
            padding-bottom: 30px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;
            padding-bottom: 50px;
            border-bottom: 1px solid value.$color-3;

            @include media_query.mq_sp {
                gap: 20px 40px;
            }

            &__item {
                background: #fff;

                &__img {
                    mix-blend-mode: exclusion;
                }
            }
        }
    }

    &__benefits {
        padding-top: 80px;

        &__txt3 {
            font-size: 15px;
            color: #6f6f6f;
            letter-spacing: 0.01em;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            margin: 90px 0 100px;

            @include media_query.mq_between {
                grid-template-columns: repeat(2, 1fr);
            }

            @include media_query.mq_sp {
                grid-template-columns: 1fr;
                gap: 60px;
            }

            &__item {
                padding-top: 42px;
                border-top: 1px solid value.$color-3;

                &__name {
                    font-size: 18px;
                    font-family: value.$font-crimson-text;
                    line-height: 100%;
                    margin: 20px 0;
                }

                &__description {
                    font-size: 15px;
                    line-height: 140%;
                    color: value.$color-paragraph;
                    letter-spacing: 0.005em;
                }
            }
        }

        &__visual {
            &__img {
                border-radius: 30px;
                width: 100%;
            }
        }
    }

    &__features {
        font-size: 15px;
        padding-top: 120px;

        @include media_query.mq_sp {
            padding: 120px 17px 0;
        }

        &__inner {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            padding-bottom: 120px;
            border-bottom: 1px solid value.$color-2;

            @include media_query.mq_below_pc {
                grid-template-columns: 1fr;
                gap: 80px;
            }
        }

        &__detail {
            border-top: 1px solid value.$color-3;
            padding-top: 60px;

            &__head {
                padding: 0;
            }

            &__description {
                margin: 40px 0;
                line-height: 140%;
                color: #6f6f6f;
            }

            &__list {
                margin-bottom: 40px;

                &__item {
                    display: flex;
                    gap: 30px;
                    padding: 20px 0;
                    border-top: 1px solid value.$color-3;

                    &__number {
                        font-weight: bold;
                        color: #6f6f6f;
                    }
                }
            }
        }

        &__figure {
            &__visual {
                &__img {
                    border-radius: 30px;
                    width: 100%;
                }
            }
        }
    }

    &__specs {
        margin-top: 80px;

        &__intro {
            text-align: center;
            margin-top: 40px;

            &__txt1 {
                padding: 0;
            }

            &__txt2 {
                font-size: 15px;
                line-height: 140%;
                color: #6f6f6f;
                margin: 40px 0;
            }
        }

        &__table {
            font-family: value.$font-roboto;
            font-size: 12px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 100px 0 10px;

            @include media_query.mq_sp {
                grid-template-columns: repeat(3, minmax(250px, 1fr));
                overflow-x: scroll;
                padding-left: 10px;
            }

            &__list {
                &.is-active {
                    border-radius: 20px;
                    outline: 1px solid value.$color-3;
                    background: #fff;
                    filter: drop-shadow(4px 0 6px #00000012);
                }

                &__title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 96px;

                    &__h3 {
                        font-size: 25px;
                        font-weight: 500;
                        color: value.$color-1;
                    }

                    &__img {
                        width: 105px;
                    }
                }

                &__ul {
                    border-top: 1px solid #6f6f6f;

                    &__li {
                        letter-spacing: 0.1em;
                        display: flex;
                        align-items: center;
                        padding: 32px 30px;
                        gap: 10px;
                        letter-spacing: 0.1em;

                        @include media_query.mq_below_pc {
                            padding: 32px 20px;
                        }

                        &:not(:last-child),
                        &:not(.is-active &) {
                            border-bottom: 1px solid value.$color-3;
                        }

                        .has-border-right & {
                            border-right: 1px solid value.$color-3;
                        }

                        &::before {
                            content: "";
                            display: inline-block;
                            width: 18px;
                            height: 18px;
                            mask-position: center;
                            mask-repeat: no-repeat;
                            mask-size: contain;
                            background: #6f6f6f;
                        }

                        &.is-check {
                            &::before {
                                mask-image: url("/assets/img/specs-check.svg");
                            }
                        }

                        &.is-x {
                            &::before {
                                mask-image: url("/assets/img/specs-x.svg");
                            }
                        }

                        .is-active & {
                            &::before {
                                background: value.$color-7;
                            }
                        }
                    }
                }
            }
        }
    }

    &__testimonial {
        padding-top: 110px;

        &__inner {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            padding-bottom: 120px;
            border-bottom: 1px solid value.$color-3;

            @include media_query.mq_below_pc {
                grid-template-columns: 1fr;
                gap: 40px;
            }
        }

        &__figure {
            &__visual {
                &__img {
                    border-radius: 30px;
                    width: 100%;
                }
            }
        }

        &__quote {
            padding: 140px 0 0 50px;
            border-top: 1px solid value.$color-3;

            @include media_query.mq_below_pc {
                padding: 40px 17px 0;
            }

            &__txt {
                font-size: 40px;
                font-family: value.$font-crimson-text;
                line-height: 105%;

                @include media_query.mq_sp {
                    font-size: 32px;
                }
            }

            &__author {
                line-height: 140%;
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 8px;

                @include media_query.mq_sp {
                    flex-direction: row;
                }

                &__name {
                    font-size: 15px;
                }

                &__position {
                    font-size: 12px;
                    letter-spacing: 0.05em;
                    font-family: value.$font-roboto;
                    color: value.$color-7;
                }
            }
        }
    }

    &__hiws {
        padding-top: 80px;

        &__intro {
            display: flex;
            justify-content: space-between;

            @include media_query.mq_sp {
                flex-direction: column;
                align-items: flex-start;
                gap: 40px;
            }

            &__txt {
                padding: 0;
            }
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            margin-top: 80px;

            @include media_query.mq_sp {
                grid-template-columns: repeat(3, minmax(250px, 1fr));
                overflow-x: scroll;
            }

            &__item {
                padding-top: 60px;
                border-top: 1px solid value.$color-3;

                &__num {
                    font-size: 80px;
                    line-height: 100%;
                    color: value.$color-2;
                    margin-bottom: 50px;
                    letter-spacing: -0.04em;
                }

                &__txt1 {
                    font-size: 18px;
                    font-family: value.$font-crimson-text;
                    margin-bottom: 20px;
                    letter-spacing: -0.03em;
                }

                &__txt2 {
                    font-size: 15px;
                    color: value.$color-paragraph;
                }
            }
        }

        &__figure {
            padding: 140px 0 40px;
            border-bottom: 1px solid value.$color-3;

            @include media_query.mq_sp {
                padding: 100px 0 40px;
            }

            &__visual {
                &__img {
                    border-radius: 30px;
                    width: 100%;
                }
            }
        }
    }

    &__cta {
        padding: 120px 0;

        &__inner {
            text-align: center;
            max-width: 600px;
            margin: auto;
        }

        &__txt1 {
            padding: 0;
        }

        &__txt2 {
            font-size: 15px;
            color: #6f6f6f;
            margin: 40px 0;
        }

        &__btn {
            display: flex;
            justify-content: center;
        }
    }
}
