@use "../../foundation/media_query";

.p-index {
    &__hero {
        &__img {
            width: 100%;
        }
    }

    &__section {
        padding: 100px 0;

        &__title {
            font-size: 32px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 60px;
        }

        &__text {
            font-size: 16px;
            line-height: 1.8;
            text-align: center;
            max-width: 800px;
            margin: 0 auto 40px auto;
        }
    }

}