@use "../foundation/media_query";

.l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #fff;
    max-width: 1200px;
    margin: auto;

    @include media_query.mq_sp {
        display: block;
        padding: 15px 20px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        box-shadow:
            rgba(24, 17, 17, 0.1) 0px 0px 5px 0px,
            rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        z-index: 9999;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0px 6px 4px #0000000d;
        height: 45px;
        overflow: hidden;
        transition: height 0.2s;

        .is-view & {
            height: 515px;
        }
    }

    &__info {
        &__title {
            font-size: 30px;
            font-weight: 400;
            position: relative;
            z-index: 999;

            a {
                text-decoration: none;
            }
        }
    }

    &__learn-more {
        @include media_query.mq_sp {
            margin-top: 50px;
            padding-bottom: 17px;
        }
    }
}
