@use "../foundation/media_query";
@use "../foundation/value";

.l-nav {
    &__menu-sp {
        @include media_query.mq_sp {
            position: static;
            margin: 0 auto;
            inset: 0;
            background: #fff;
            align-items: flex-start;
            height: 100%;
            overflow: hidden;
        }
    }

    &__ul {
        display: inline-flex;
        gap: 30px;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 100px;
        padding: 20px 24px;
        top: 13px;

        @include media_query.mq_sp {
            position: static;
            transform: unset;
            padding: 0;
            background: none;
            backdrop-filter: none;
            display: flex;
            gap: 0;
            height: 100%;
            padding-top: 50px;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
        }

        &__li {
            @include media_query.mq_sp {
                border-top: 1px solid #e9e9e9;
                width: 100%;
                padding: 30px 0;
            }

            &__a {
                font-size: 14px;
                text-decoration: none;
                font-weight: bold;
                color: value.$color-1;
                transition: opacity 0.3s;

                @include media_query.mq_pc {
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }

    &__menu {
        @include media_query.mq_sp {
            position: absolute;
            height: 20px;
            top: 24px;
            right: 20px;
            z-index: 999;
        }

        &__button {
            background: none;
            border: none;
            width: 25px;

            &__line {
                width: 100%;
                display: block;
                background: #000;
                height: 2px;
                position: absolute;
                left: 0;
                transition: 0.2s;

                &:nth-child(1) {
                    top: 0.1rem;
                }

                &:nth-child(2) {
                    top: 50%;
                }

                &:nth-child(3) {
                    bottom: 0;
                }
            }

            .is-view & {
                &__line {
                    &:nth-child(1) {
                        top: 50%;
                        transform: rotate(45deg);
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                    &:nth-child(3) {
                        top: 50%;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}
