@use "../foundation/media_query";

.l-nav {
    &__ul {
        display: inline-flex;

        @include media_query.mq_sp {
            position: fixed;
            margin: 0 auto;
            inset: 0;
            flex-direction: column;
            justify-content: center;
            background: #fff;
            align-items: center;
            gap: 3rem;
            height: 0;
            overflow: hidden;
            transition: 0.2s;

            .is-view & {
                height: 100%;
            }
        }
  
        &__li {
            padding: 0 2rem;

            &__a {
                font-size: 20px;
                text-decoration: none;
                font-weight: 500;
                color: #4b4444;
    
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
    
    &__menu {
        @include media_query.mq_sp {
            position: absolute;
            top: 1rem;
            right: 2rem;
            z-index: 5;
        }
        
        &__button{
            background: none;
            border: none;
            width: 2rem;

            &__line {
                width: 100%;
                display: block;
                background: #000;
                height: 2px;
                position: absolute;
                transition: 0.2s;

                &:nth-child(1) {
                    top: 0.9rem;
                }

                &:nth-child(2) {
                    top: 1.5rem;
                }

                &:nth-child(3) {
                    top: 2.2rem;
                }
            }

            .is-view & {
                &__line {
                    &:nth-child(1) {
                        top: 50%;
                        transform: rotate(45deg);
                    }

                    &:nth-child(2) {
                       display: none;
                    }

                    &:nth-child(3) {
                        top: 50%;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}
