@use "../../foundation/media_query";
@use "../../foundation/value";

.u-container {
    margin: 0 auto;
    max-width: value.$pc-width + px;
    padding: 0 value.$pc-gap;

    @include media_query.mq_sp {
        margin: 0 value.$sp-gap;
        padding: 0;
    }

    &-pc-only {
        margin: 0 auto;
        max-width: value.$pc-width + px;
        padding: 0 value.$pc-gap;

        @include media_query.mq_sp {
            margin: 0;
            padding: 0;
        }
    }
}
